.flex-container {
  display: flex;
}

header {
  align-items: center;
  background-color: #ffe4c4;
  justify-content: space-between;
}

a {
  margin-left: 10px;
}

h1 {
  padding-left: 10px;
}

.banner-col-1 {
  background-color: #8a2be2;
  color: white;
  text-align: center;
  padding: 5px 150px;
  justify-content: center;
}

main {
flex-wrap: wrap;
gap: 20px;
justify-content: center;
justify-content: space-between;
}


.grid {
  width: 300px;
  height: 300px;
  border: 1px rgb(128, 128, 128, 0.5) solid;
  padding: 20px 20px;
  margin: 20px 20px;
  background-color: white;
}

.footer-top {
  background-color: #8a2be2;
  color: white;
  width: 100%;
  justify-content: space-evenly;
  align-items: start;
  display: flex;
}

.footer-bottom {
  background-color: #ffe4c4;
  color: black;
  width: 100%;
  justify-content: space-evenly;
  align-items: start;
  display: flex;
}

.display {
  display: grid;
}

#page-container{
  max-width: 1100px;
  margin: 0 auto;
}