.top-son {
  font-family: Roboto;
  font-weight: 700;
  font-size: 125px;
  color: white;
  position: relative;
  top: 25%;
  left: 10%;

  color: transparent;
  text-shadow: 0px 4px 2px white, 0 0 0 #0000005e;
}

.top-father {
  background-image: url("SVG/Rectangle\ 9.svg");
  width: 100%;
  height: 300px;
  background-size: cover;
}

.top-text{
    font-family: Roboto;
    font-weight: 700;
    color: #073590;
    font-size: 2em;
    line-height: 75px;
}

.mid-text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 1em;
    line-height: 23.44px;
    color: #807D7D;
}

.bottom-text{
    font-family: Roboto;
    font-weight: 400;
    line-height: 22px;
    color: rgb(0, 0, 0, 0.85);
    background-color: #E6F7FF;
    border: 1px #91D5FF solid;
}


.lower-section{
  margin: 20px auto;
  width: 80%;
  background-color: rgb(128, 128, 128, 0.2);

}


.text-in-top{
  background-color: white;
}
