body {
  background-color: rgb(128, 128, 128, 0.3);
}

.container {
  width: 400px;
  height: 500px;
  background-color: white;
  margin: 0 auto;
    border-radius: 30px;
}

.container-photo{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 400px;
    height: 250px;
    background-size: cover;
    background-image: url("svg/food-img.svg");
}